.skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: none;
  width: 100px;
}

.skill-icon-label {
  font-size: 12px;
  color: black;
  text-align: center;
  margin-top: 4px;
}

.skill-icon-image {
  width: 32px;
  height: 32px;
}

.skills-window {
  display: flex;
  gap: 16px;
}
