.soft-skills-window {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  font-family: "Courier New", monospace;
}

.soft-skill {
  border-bottom: 2px solid #ccc;
  display: inline-flex;
  padding-bottom: 8px;
  align-items: center;
}

.soft-skills-header {
  align-items: center;
  border-bottom: 2px solid #ccc;
  display: inline-flex;
  padding-bottom: 8px;
}

.soft-skills-icon {
  width: 45px;
  height: 40px;
  margin-right: 8px;
}

.soft-skill-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.soft-skill-label {
  display: flex;
  align-items: center;
}

.soft-skills-footer {
  display: flex;
  background: #e3e3e2;
  padding: 4px 10px;
  border: #a5a5a4 1px solid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
